html {
    background-color: black;
}

body {
    --green: #91e600;
    --R    : red;
    --G    : green;
    --B    : blue;
    --A    : white;
}

svg {
    overflow: visible;
}

.wire {
    stroke-width    : 2;
    stroke          : #7DF9FF;
    stroke-dasharray: 5 10;
    fill            : none;
    stroke-linecap  : round;
}

#deadBoard {
    background-color: black;
}

#skull {
    fill: teal;
}

#jaw {}

.eye {
    fill: greenyellow;
}

.nostril {
    fill: darkgray;
}

#jaw {
    fill: palevioletred;
}

#jawDetails {
    fill: black;
}

.filterSocket {
    stroke-width: 2;
    stroke      : green
}

/* controllers */
/* morphology */
/* gaussianBlur */
.controllerGaussianBlurOuter {
    fill: #91e600;
}

.controllerGaussianBlurMiddle {
    stroke-width: 1;
    stroke      : black;
}

.controllerGaussianBlurInner {
    stroke-width: 1;
    stroke      : black;
    fill        : #91e600;
}

/* displacementMap */
.switch {
    fill: darkslateblue;
}

.controllerDisplacementMapMain {
    fill: darkviolet;
}

/* turbulence */
.turbulenceMain {
    fill: gray;
}

.turbulenceTypeSwitch {
    fill: black;
}

.baseFrequencyTab {
    fill: blue;
}

.octaveTab {
    fill: red;
}

/* specularLighting */
.specularLightingMain {
    fill: silver
}

.lightSocket {
    fill: darkgray
}

.colorPicker {
    fill: tomato;
}

.sliderBounds {
    stroke-width: 3;
    stroke      : teal
}

.slider {
    fill: red
}

/* lighting */
.bulbThreads {
    fill: purple
}

.bulbNeck {
    fill: darkgray;
}

.bulb {
    fill: rgba(250, 65, 80, 0.5);
}

.spotBulbMain {
    fill: blueviolet
}

.spotBulbrear {
    fill: darkslateblue
}

.spotBulbAngle {
    fill: rgba(250, 65, 80, 0.5);
}

.spotBulbReflector {
    fill: darkgray;
}

.diffuseMain {
    fill: lightgray;
}

.composite circle {
    fill: white;
}

.composite path {
    stroke-width: 1;
    stroke      : black;
    fill        : none;
}

.true {
    fill: chartreuse;
}

.false {
    fill: crimson;
}

foreignObject {
    width  : 50px;
    height : 25px;
    z-index: 1001;
}

input {
    width             : 100%;
    /* height         : 50%; */
    appearance        : none;
    -webkit-appearance: none;
    box-sizing        : unset;
    border-width      : 0px;
    outline-width     : 0px;
    border            : none;
    margin            : 0;
    padding           : 0;
}

.funcR {
    fill: red;
}

.funcG {
    fill: green;
}

.funcB {
    fill: blue;
}

.funcA {
    fill: white;
}

/* .func{
    fill: none;
    stroke-width: 1;
    stroke: black
} */

.funcButton {
    fill        : red;
    stroke      : black;
    stroke-width: 0.5;
}

.socket {
    rx              : 5;
    ry              : 5;
    fill            : lightblue;
    stroke          : gold;
    stroke-width    : 2;
    stroke-dasharray: 3;
}

#svgSkull {
    filter: url(#filter0);
}

.channelIndicator:not(.activeChannel) {
    fill: black;
}

.switch {
    fill: red;
}

.fixture {
    fill: slategray;
}

/* colorMatrix */
.matrixPanel{
    fill: darkgray
}

.panelRear{
    fill:lightgray
}

/* blend */
.blend{
    fill: aliceblue;
    stroke-dasharray: 6;
stroke-width: 4;
stroke: aliceblue;
}

.imageMain{
    fill: yellow;
    stroke-linecap: round;
    stroke-linejoin: round;
}