html {
    background-color: black;
}

body {
    --yellow    : #FABC2A;
    --green-dark: #2A6041;
    --blue-dark : #474973;
    --R         : #ED6A5A;
    --G         : #91e600;
    --B         : #36C9C6;
    --A         : #ffffff;
}

body {
    display: flex;
}

svg {
    overflow: visible;
}

#dial {
    fill: var(--blue-dark);
}

.wire {
    stroke-width    : 2;
    stroke          : #7DF9FF;
    stroke-dasharray: 5 10;
    fill            : none;
    stroke-linecap  : round;
}

.wire.connector2{
    stroke: pink;
}

.wire.merge{
    stroke: green;
}

#deadBoard {
    background-color: black;
}

#skull {
    filter: url(#filter1);
    fill  : teal;
}

#svgSkull {
    filter: url(#filter0);
}

#jaw {
    fill  : var(--R);
    filter: url(#filter2);
}

#FilterSocket1Controller rect {
    fill: teal;
}

#FilterSocket2Controller rect {
    fill: var(--R);
}

.eye {
    fill: var(--G);
}

.nostril {
    fill: darkgray;
}

#jawDetails {
    fill: black;
}

.filterSocket {
    stroke-width: 2;
    stroke      : var(--green-dark)
}

/* controllers */
/* morphology */
/* gaussianBlur */
.controllerGaussianBlurOuter {
    fill: white;
}

.controllerGaussianBlurMiddle {
    stroke-width: 1;
    fill        : var(--B);
}

.controllerGaussianBlurInner {
    stroke-width: 1;
    stroke      : black;
    fill        : black;
}

/* displacementMap */
.switch {
    fill: darkslateblue;
}

.controllerDisplacementMapMain {
    fill: darkviolet;
}

/* turbulence */
.turbulenceMain {
    fill: gray;
}

.turbulenceTypeSwitch {
    fill: black;
}

.baseFrequencyTab {
    fill: var(--B);
}

.octaveTab {
    fill: var(--R);
}

/* specularLighting */
.specularLightingMain {
    fill: silver
}

.lightSocket {
    fill: darkgray
}

.colorPicker {
    fill: tomato;
}

.sliderBounds {
    stroke-width: 3;
    stroke      : teal
}

.slider {
    fill: red
}

/* lighting */
.bulbThreads {
    fill: purple
}

.bulbNeck {
    fill: darkgray;
}

.bulb {
    fill   : var(--R);
    opacity: 0.5
}

.spotBulbMain {
    fill: blueviolet
}

.spotBulbrear {
    fill: darkslateblue
}

.spotBulbAngle {
    fill: rgba(250, 65, 80, 0.5);
}

.spotBulbReflector {
    fill: darkgray;
}

.diffuseMain {
    fill: gray;
}

.composite circle {
    fill: white;
}

.composite path {
    stroke-width: 1;
    stroke      : black;
    fill        : none;
}

.true {
    fill: chartreuse;
}

.false {
    fill: crimson;
}

foreignObject {
    display : flex;
    position: fixed;
    width   : 50px;
    height  : 50px;
    z-index : 1001;
}

.colorPicker {
    position          : fixed;
    appearance        : none;
    -webkit-appearance: none;
    box-sizing        : unset;
    border-width      : 0px;
    border-color      : transparent;
    outline-width     : 0px;
    border            : none;
    margin            : 0;
    padding           : 0;
}

.flood .colorPicker {
    left : 2px;
    width: 47px;
}

.specularLighting .colorPicker {
    width : 25px;
    bottom: 1px;
    left  : 1.5px;
}

.diffuseLighting .colorPicker {
    width : 20px;
    height: 30px;
    left  : 17px;
    top   : 10.5px;
}

.floodMain {
    fill: gray;
}

.funcR {
    fill: var(--R);
}

.funcG {
    fill: var(--G);
}

.funcB {
    fill: var(--B);
}

.funcA {
    fill: var(--A);
}

.funcButton {
    fill        : red;
    stroke      : black;
    stroke-width: 0.5;
}

.socket {
    rx              : 5;
    ry              : 5;
    fill            : lightblue;
    stroke          : var(--yellow);
    stroke-width    : 2;
    stroke-dasharray: 3;
}

.channelIndicator:not(.activeChannel) {
    fill: black;
}

.switch {
    fill: red;
}

.fixture {
    fill: slategray;
}

/* colorMatrix */
.matrixPanel {
    fill: darkgray
}

.panelRear {
    fill: lightgray
}

/* blend */
.blend {
    fill            : aliceblue;
    stroke-dasharray: 6;
    stroke-width    : 4;
    stroke          : aliceblue;
}

.imageMain {
    fill           : var(--yellow);
    stroke-width   : 2px;
    stroke         : var(--yellow);
    stroke-linecap : round;
    stroke-linejoin: round;
}

.imageRear {
    fill: var(--blue-dark);
}

.connector {
    stroke          : black;
    stroke-width    : 2;
}

.connector.male {
    fill: skyblue;
}

.connector.female {
    fill: thistle;
}